<%- include('partials/header/header.ejs'); %>

    <body class="">
        <div class="page-wrapper">
            <%- include('partials/nav_bar/nav.ejs'); %>
                <%- include('partials/nav_bar/nav_mobile.ejs'); %>
                    <%- include('./partials/nav_bar/nav_mobile_bottom.ejs'); %>
                    <!-- END HEADER MOBILE -->

                    <!-- PAGE CONTENT-->
                    <div class="page-content--bgf7">
                        <!-- BREADCRUMB-->
                        <section class="au-breadcrumb2">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="au-breadcrumb-content">
                                            <div class="au-breadcrumb-left">
                                                <span class="au-breadcrumb-span">You are here:</span>
                                                <ul class="list-unstyled list-inline au-breadcrumb__list">
                                                    <li class="list-inline-item active">
                                                        <a href="#">Home</a>
                                                    </li>
                                                    <li class="list-inline-item seprate">
                                                        <span>/</span>
                                                    </li>
                                                    <li class="list-inline-item">Dashboard</li>
                                                </ul>
                                            </div>
                                            <form class="au-form-icon--sm" action="" method="post">
                                                <input class="au-input--w300 au-input--style2" type="text"
                                                    placeholder="Search for datas &amp; reports...">
                                                <button class="au-btn--submit2" type="submit">
                                                    <i class="zmdi zmdi-search"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- END BREADCRUMB-->
                        <%- include('./partials/welcome/welcome.ejs'); %>
                        

                        <!-- box -->
                        <section class="statistic statistic2">
                            <div class="container">
                                <div class="row m-t-25 ">
                                    <div class="col-sm-6 col-lg-3 text-center">
                                        <div class="overview-item overview-item--c1">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="zmdi zmdi-account-o"></i>
                                                    </div>
                                                    <div class="text">
                                                        <% if(reqForms && reqForms.length > 0) { %>
                                                            <h2><%= reqForms.length %></h2>
                                                        <% }else { %>
                                                            <h2>0</h2>
                                                        <% } %>
                                                        <span>Request</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 text-center ">
                                        <div class="overview-item overview-item--c2">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="zmdi zmdi-shopping-cart"></i>
                                                    </div>
                                                    <div class="text">
                                                        <%
                                                        const approvedForms = reqForm.filter(form => form.status === 'settled');
                                                        const approvedFormsCount = approvedForms.length;
                                                        %>
                                                        <% if(reqForm && reqForm.length > 0) { %>
                                                            <h2><%= approvedFormsCount %></h2>
                                                        <% } else { %>
                                                            <h2>0</h2>
                                                        <% } %>
                                                        <span>Done Contract</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 text-center">
                                        <div class="overview-item overview-item--c3">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="zmdi zmdi-calendar-note"></i>
                                                    </div>
                                                    <div class="text">
                                                        <h2><%= submissionCount %>/10</h2>
                                                        <span>This day</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-lg-3 text-center">
                                        <div class="overview-item overview-item--c4">
                                            <div class="overview__inner">
                                                <div class="overview-box clearfix">
                                                    <div class="icon">
                                                        <i class="zmdi zmdi-account-calendar"></i>
                                                    </div>
                                                    <div class="text">
                                                        <% if(reqForm && reqForm.length > 0) { %>
                                                            <h2><%= reqForm.length %></h2>
                                                        <% }else { %>
                                                            <h2>0</h2>
                                                        <% } %>
                                                        <span>Total Request</span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- box -->

                                <!-- Request List-->
                                <section class="p-t-20">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h3 class="title-5 m-b-35">Request Now!</h3>
                                                <div class="table-data__tool">
                                                    <div class="table-data__tool-left">
                                                        <div class="rs-select2--light rs-select2--md">
                                                            <select class="js-select2" name="property">
                                                                <option selected="selected">All Properties</option>
                                                                <option value="">Option 1</option>
                                                                <option value="">Option 2</option>
                                                            </select>
                                                            <div class="dropDownSelect2"></div>
                                                        </div>
                                                        <div class="rs-select2--light rs-select2--sm">
                                                            <select class="js-select2" name="time">
                                                                <option selected="selected">Today</option>
                                                                <option value="">3 Days</option>
                                                                <option value="">1 Week</option>
                                                            </select>
                                                            <div class="dropDownSelect2"></div>
                                                        </div>
                                                        <button class="au-btn-filter">
                                                            <i class="zmdi zmdi-filter-list"></i>filters</button>
                                                    </div>
                                                    <div class="table-data__tool-right">
                                                        <button
                                                            class="au-btn au-btn-icon au-btn--green au-btn--small"
                                                            data-toggle="modal" data-target="#addRequest">
                                                            <i class="zmdi zmdi-plus"></i>add request</button>
                                                    </div>
                                                </div>
                                                <% if(reqForms && reqForms.some(reqForm => ['pending', 'process'].includes(reqForm.status))) { %>
                                                
                                                <div class="table-responsive table-responsive-data2">
                                                    <table class="table table-data2 text-center" style="white-space: nowrap;">
                                                        <thead>
                                                            <tr>
                                                                <th>Requested By</th>
                                                                <th>assign name</th>
                                                                <th>email</th>
                                                                <th>date</th>
                                                                <th>status</th>
                                                                <th>requestor</th>
                                                                <th>Actions</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <!-- request && modal Loop start -->
                                                                <% reqForms.forEach(reqForm=> { %>
                                                                    <% if(reqForm.status === 'pending' || reqForm.status === 'process') {%>
                                                                    <%- include('partials/request_form/single_form.ejs', {reqForm: reqForm}); %>
                                                                <% } %>
                                                                    <% }); %>
                                                                <!-- request && modal Loop end -->
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <% } else { %>
                                                    <p class="text-center">No Request Form Found</p>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- END DATA TABLE-->
                                    
                                    <!-- request modal start -->
                                    <%- include('./partials/modal/modal_request.ejs', { vehicles:vehicles}); %>
                                        <!-- request modal end-->

                                        <!-- Vechicles List-->
                                        <section class="p-t-70">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h3 class="title-5 m-b-35">LGU Motor Pool</h3>
                                                        <div class="table-data__tool">
                                                            <div class="table-data__tool-left">
                                                                <div class="rs-select2--light rs-select2--md">
                                                                    <select id="categorySelect" class="js-select2" name="property" onchange="filterVehicles()">
                                                                        <option  value="All Categories" >All Categories
                                                                        </option>
                                                                        <option value="Motorcycle Vehicles">Motorcycle</option>
                                                                        <option value="Military Vehicles">Military</option>
                                                                        <option value="Heavy Equipment Vehicles">Heavy Equipment</option>
                                                                        <option value="4-Wheel Vehicles">4-Wheel</option>
                                                                    </select>
                                                                    <div class="dropDownSelect2"></div>
                                                                </div>
                                                                <!-- <div class="rs-select2--light rs-select2--sm">
                                                                    <select id="statusSelect" class="js-select2" name="time" onchange="filterVehicles()">
                                                                        <option value="All Status">All Status</option>
                                                                        <option value="available">Available</option>
                                                                        <option value="deployed">Deployed</option>
                                                                        <option value="process">Process</option>
                                                                    </select>
                                                                    <div class="dropDownSelect2"></div>
                                                                </div> -->
                                                                <button class="au-btn-filter">
                                                                    <i
                                                                        class="zmdi zmdi-filter-list"></i>filters</button>
                                                            </div>
                                                        </div>

                                                        <% if(vehicle && vehicle.length> 0) { %>
                                                            <div class="table-responsive table-responsive-data2">
                                                                <table id="vehicleTable" class="table table-data2 text-center" style="white-space: nowrap;">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>assign Personel</th>
                                                                            <th>brand</th>
                                                                            <th>category</th>
                                                                            <th>type</th>
                                                                            <th>model</th>
                                                                            <th>date</th>
                                                                            <th>status</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% vehicle.forEach(vehicle=> { %>
                                                                            <% if(vehicle.status === 'available') {%>
                                                                                <%- include('./partials/vehicle/single_vehicle.ejs', {vehicle: vehicle}); %>
                                                                            <% } %>
                                                                        <% }); %>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <% } else { %>
                                            <p class="text-center">No Vehicles Available.</p>
                                            <% } %>

                                                <!-- END DATA TABLE-->

                                                <%- include('./partials/modal/modal_vehicle.ejs'); %>


                                                <%- include('./partials/copyright/copyright.ejs'); %>
                    </div>
        </div>

        <%- include('partials/footer/footer.ejs'); %>