<tr class="tr-shadow">
    <td><%= vehicle.assignPersonel %></td>
    <td><%= vehicle.dateIssued %></td>
    <td><%= vehicle.brand %></td>
    <td class="desc"><%= vehicle.category %></td>
    <td class="desc"><%= vehicle.type %></td>
    <td><%= vehicle.OrCr %></td>
    <td><%= vehicle.plateNumber %></td>
    <td><%= vehicle.model %></td>
    <td><%= vehicle.condition %></td>
</tr>