<tr class="tr-shadow">
    <td><%= vehicle.assignPersonel %></td>
    <td><%= vehicle.brand %></td>
    <td class="desc"><%= vehicle.category %></td>
    <td class="desc"><%= vehicle.type %></td>
    <td><%= vehicle.model %></td>
    <td><span class="status--<%= vehicle.status %>"><%= vehicle.status %></span></td>
    <td>
        <form action="deleteVehicle" method="post">
            <div class="table-data-feature text-center justify-content-center">
                <% if(vehicle.status === 'available' || vehicle.status === 'not available'){ %>
                <input type="hidden" name="vehicleId" value="<%= vehicle._id %>">
                <a href="/vehicle/<%= vehicle._id %>" class="item" data-toggle="tooltip"
                    data-placement="top" title="Edit">
                    <i class="zmdi zmdi-edit"></i>
                </a>
                <button class="item" data-toggle="tooltip"
                    data-placement="top" title="Delete">
                    <i class="zmdi zmdi-delete"></i>
                </button>
            </div>
        </form>
        <% } else if(vehicle.status === 'process'){ %>
            <p>Waiting For Approval</p>
        <% } else if(vehicle.status === 'released'){ %>
            <p>Waiting End Contract</p>
        <% } %>
    </td>
</tr>