<tr class="tr-shadow">
    <td><%= vehicle.assignPersonel %></td>
    <td><%= vehicle.brand %></td>
    <td class="desc"><%= vehicle.category %></td>
    <td class="desc"><%= vehicle.type %></td>
    <td><%= vehicle.model %></td>
    <td>2018-09-27 02:12</td>
    <td><span class="status--<%= vehicle.status %>"><%= vehicle.status %></span></td>
</tr>