
        <style>
            /* Reset default table styles */
            table {
                border-collapse: collapse;
                width: 100%;
                
            }

            /* Style table headers */
            th {
                background-color: #f2f2f2;
                border: 1px solid #dddddd;
                padding: 6px;
                text-align: left;
            }

            /* Style table cells */
            td {
                border: 1px solid #dddddd;
                padding: 8px;
                font-size: 16px;
            }


            /* Hover effect on rows */
            tr:hover {
                background-color: #e2e2e2;
            }
            h3{
                
                text-align: center;
            }
        </style>
            <% if(month === 01) {%>
                <h3>January, <%= year %></h3>
                <% }else if(month === 02) {%>
                <h3>February, <%= year %></h3>
                <% }else if(month === 03) {%>
                <h3>March, <%= year %></h3>
                <% }else if(month === 04) {%>
                <h3>April, <%= year %></h3>
                <% }else if(month === 05) {%>
                <h3>May, <%= year %></h3>
                <% }else if(month === 06) {%>
                <h3>June, <%= year %></h3>
                <% }else if(month === 07) {%>
                <h3>July, <%= year %></h3>
                <% }else if(month === 08) {%>
                <h3>August, <%= year %></h3>
                <% }else if(month === 09) {%>
                <h3>September, <%= year %></h3>
                <% }else if(month === 10) {%>
                <h3>October, <%= year %></h3>
                <% }else if(month === 11) {%>
                <h3>November, <%= year %></h3>
                <% }else if(month === 12) {%>
                <h3>December, <%= year %></h3>
                <% }%>
            <table>
                <thead>
                    <tr>
                        <th>Assign Personel</th>
                        <th>Date Issued</th>
                        <th>Brand</th>
                        <th>Category</th>
                        <th>Type</th>
                        <th>OR/CR/MIR</th>
                        <th>Plate Number</th>
                        <th>Model</th>
                        <th>Condition</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(filteredVehicles && filteredVehicles.length> 0) { %>
                        <% filteredVehicles.forEach(vehicle=> { %>
                    <tr>
                        <td>
                            <%= vehicle.assignPersonel %>
                        </td>
                        <td>
                            <%= vehicle.dateIssued %>
                        </td>
                        <td>
                            <%= vehicle.brand %>
                        </td>
                        <td>
                            <%= vehicle.category %>
                        </td>
                        <td>
                            <%= vehicle.type %>
                        </td>
                        <td>
                            <%= vehicle.OrCr %>
                        </td>
                        <td>
                            <%= vehicle.plateNumber %>
                        </td>
                        <td>
                            <%= vehicle.model %>
                        </td>
                        <td>
                            <%= vehicle.condition %>
                        </td>
                        <% }); %>
                    </tr>
                    <% } else { %>
                        <p>No vehicles Found.</p>
                        <% } %>
                </tbody>
            </table>
        